<ion-header [translucent]="true">
  <ion-toolbar  color = "primary">
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>Etat des caisses </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="bg-img">
      <ion-card>
        <ion-card-content>  
          <ion-card-header>
            <ion-card-title>
              fond de caisses
            </ion-card-title>
          </ion-card-header>
        <div *ngFor="let fondDeCaisse of fonds, let i = index">
            <ion-item>
              <ion-label>{{fondDeCaisse.session}}</ion-label>
              <ion-label>{{fondDeCaisse.somme}} euro</ion-label>
            </ion-item>
        </div>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-content>  
      <ion-card-header>
        <ion-card-title>
          Total intérêts encaiser        
        </ion-card-title>
      </ion-card-header>
      <ion-item> {{total_interet_generer}}</ion-item>
    </ion-card-content>
   </ion-card>

   <ion-card>
    <ion-card-content>  
      <ion-card-header>
        <ion-card-title>
          Total des emprunts        
        </ion-card-title>
      </ion-card-header>
      <ion-item> {{total_prets}}</ion-item>
    </ion-card-content>
   </ion-card>

   <ion-card>
    <ion-card-content>  
      <ion-card-header>
        <ion-card-title>
          Somme à disposition        
        </ion-card-title>
      </ion-card-header>
      <ion-item> </ion-item>
    </ion-card-content>
   </ion-card>
  </div>
</ion-content>



