<ion-header [translucent]="true">
  <ion-toolbar  color = "primary">
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>Fonds de caisse<ion-label><p>{{total_fonds_caisse | currency: 'EUR'}}</p></ion-label> </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="bg-img">
      <ion-card>
          <ion-card-content>  
            <ion-item *ngFor="let fondDeCaisse of fonds, let i = index">
              <ion-label>{{fondDeCaisse.session}}</ion-label>
              <ion-label>{{fondDeCaisse.montant | currency: 'EUR' }} </ion-label>
            </ion-item>
           </ion-card-content>
      </ion-card>
      
  </div>
</ion-content>



