<ion-header>
  <ion-toolbar color= "primary">
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>Money</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-title id = "promo" color = "primary">
    Camer Isfates
  </ion-title>
    <div class="bg-img">

      <ion-card>
        <ion-item>
          <ion-label color="primary" position="floating">Select the enter date</ion-label>
          <ion-datetime  min="2018-01-01" max="2050-12-31"   [(ngModel)]="enterDate" > </ion-datetime>
        </ion-item>    
      </ion-card>
      <ion-card>
          <ion-input  color="primary" position="floating" [(ngModel)]="amount"  placeholder="Enter amount of Money"> </ion-input>
      </ion-card>
      <ion-card>
          <ion-input  color="primary" position="floating" [(ngModel)]="motif"  placeholder="Enter a the motif"> </ion-input>
      </ion-card>
      <ion-card>
          <ion-input   color="primary" position="floating" [(ngModel)]="name"  placeholder="Enter a the name"> </ion-input>
      </ion-card>
      <ion-card>
        <ion-button expand = "full" >ok</ion-button>
      </ion-card>
    </div>

</ion-content>
