<ion-header [translucent]="true">
  <ion-toolbar  color = "primary">
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>Camer Isfates </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title id = "promo" color = "primary">
    Accueil
  </ion-title>
    <div class="container">
          <h2>Liste de membres</h2>

        <div *ngFor="let reunion of reunions, let i = index">
            <ion-item>{{i+1}}   {{reunion.prenom}}</ion-item>
        </div>
        <ion-card>
          <ion-item>
            <ion-input [(ngModel)]="myTask"  placeholder="Ajouter un Meeting"> </ion-input>
            <ion-button (click)="add()" shape="round" slot="end">
              <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-card>
    </div>
  
  </ion-content>


