<ion-header [translucent]="true">
  <ion-toolbar  color = "primary">
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>Liste de membres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="container">
        <ion-item button *ngFor="let membre of membres, let i = index" routerLink="/detail-membres/{{membre.id}}">
              <ion-badge slot="end">{{i+1}} </ion-badge> 
              <ion-label>{{membre.prenom}}</ion-label> 
        </ion-item>
        <ion-card>
          <ion-item>
            <ion-input [(ngModel)]="myTask"  placeholder="Ajouter un Meeting"> </ion-input>
            <ion-button (click)="add()" shape="round" slot="end">
              <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-card>
    </div>
  
  </ion-content>


